[submodule "fatbrownian"]
	path = fatbrownian
	url = https://github.com/coledie/fatbrownian
[submodule "sudosudosudo"]
	path = sudosudosudo
	url = https://github.com/coledie/sudosudosudo
[submodule "magicclock"]
	path = magicclock
	url = https://github.com/coledie/MagicClock
